{% extends ":default:base.html.twig" %}


{% block body %}
    {% include ':default:menuLogin.html.twig' %} 
{% endblock %}

{% block main_content %}

    <section id="service" class="home-section color-dark bg-gray">


        <div class="text-center">
            <div class="container">

                <div class="row">
                    <div class="col-xs-8 col-sm-6">
                        <div class="wow fadeInLeft" data-wow-delay="0.2s">
                            <div class="service-box">
                                <div class="service-icon">
                                    <span class="fa fa-home fa-5x"></span> 
                                </div>
                                <div class="service-desc">						
                                    <h5>Locataire</h5>
                                    <p>
                                        Ad denique euripidis signiferumque vim, iusto admodum quo cu. No tritani neglegentur mediocritatem duo.
                                    </p>
                                    <a href="{{path('login')}}" class="btn btn-skin">Connexion</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-8 col-sm-6">
                        <div class="wow fadeInUp" data-wow-delay="0.2s">
                            <div class="service-box">
                                <div class="service-icon">
                                    <span class="fa fa-map-marker fa-5x"></span> 
                                </div>
                                <div class="service-desc">
                                    <h5>Proprietaire</h5>
                                    <p>
                                        Ad denique euripidis signiferumque vim, iusto admodum quo cu. No tritani neglegentur mediocritatem duo.
                                    </p>
                                    <a href="{{path('loginPro')}}" class="btn btn-skin">Connexion</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    </section>
                    <!-- /Section: services -->

                    
                {% endblock %}




                {% block footer %}

                    {% include ':default:footer.html.twig' %} 

                {% endblock %}