{% extends ":default:base.html.twig" %}

{% block body %}
    {% include ':default:menuLogin.html.twig' %} 

</section>
<!-- /Section: works -->

<!-- Section: contact -->
<section id="contact" class="home-section nopadd-bot color-dark bg-gray text-center">
    <div class="container marginbot-50">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="wow flipInY" data-wow-offset="0" data-wow-delay="0.4s">
                    <div class="section-heading text-center">
                        <h2 class="h-bold">Contact us</h2>
                        <div class="divider-header"></div>
                        <p>Lorem ipsum dolor sit amet, agam perfecto sensibus usu at duo ut iriure.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="container">

        <div class="row marginbot-80">
            <div class="col-md-8 col-md-offset-2">
                <div id="sendmessage">Your message has been sent. Thank you!</div>
                <div id="errormessage"></div>
                
                <form action="{{path('contact_homepage')}}"  method="post" role="form" class="contactForm">
                    {{form_start(form)}}
                    {{form_widget(form)}}
                    {{form_end(form)}}

                </form>

            </div>
        </div>	


    </div>
</section>
{% endblock %}




{% block footer %}
    {% include ':default:footer.html.twig' %} 
{% endblock %}